---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, MAIN_PAGE_SLOTS } from '../consts';
---

<style>
  .welcome {
    margin-inline: auto;
    width: max(100% - 15rem,1280px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .welcome-text {
    margin: auto;
    width: 80ch;
  }

  .welcome-text h5 {
    margin-top: 24px;
    margin-left: 48px;
  }

  .welcome-play {
    margin-top: 44px;
    margin-inline: auto;
    width: max-content;
    display: block;
  }

  .slots {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .slots-header {
    display: flex;
    justify-content: space-between;
  }

  .slots-subtitle {
    margin-top: 24px;
  }

  .slots-list {
    margin-top: 24px;
    display: flex;
    gap: 22px;
  }

  .slots-list-item {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    text-align: center;
  }

  .slots-play {
    width: fit-content;
    align-self: center;
  }
</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="full-height">
      <Header title={SITE_TITLE} />

    <div class="welcome">
      <div class="welcome-text">
        <h2 class="accent">🎰 Игровые Автоматы Бесплатно!</h2>
        <h4>Добро пожаловать в демо-слоты онлайн, идеальное место для захватывающих игр в казино <span class="accent">на демо рубли</span>!
          &NewLine;
          Наслаждайтесь азартом и развлечениями, играя в популярные игры казино <span class="accent">без риска</span>.</h4>

          <a role="button" class="button accent welcome-play" type="button">Играть Демо</a>
      </div>

      <img width="700" height="600" src="images/detail.png" alt="Слоты бесплатно">
    </div>
    </div>
    <main class="container">
      <div class="slots">
        <div class="slots-header">
          <h2>Слоты</h2>

          <a class="button button_outline">Посмотреть все игры</a>
        </div>

        <h5 class="slots-subtitle">На нашем сайте вы сможете найти огромное количество головокружительных игровых автоматов на любой вкус!</h5>

        <div class="slots-content">
          <ul class="slots-list">
            {
              MAIN_PAGE_SLOTS.map((slot) => (
                <li class="slots-list-item">
                  <img width={slot.width} height={slot.height} class="align-self-center" src={slot.imageSrc} alt="">
                  <h3>{slot.title}</h3>
                  <p class="">{slot.description}</p>
                  <a class="button slots-play mt-auto">Ирать Сейчас</a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
